* {
  margin: 0;
  padding: 0;
}

/* TITLE */
.titleContainer {
  /* background-color: red; */
  height: 7vh;
  text-align: center;
}

.titleContainer h1 {
  font-size: 40px;
}

/* GAME BOARD */
.boardContainer {
  display: flex;
  justify-content: center;
}

.boardContainer table {
  font-size: 70px;
  border-collapse: collapse;
}

.boardContainer td {
  border: 1px solid black;
  width: 100px;
  text-align: center;
}

/* POINTS */
.pointContainer {
  text-align: center;
  padding-top: 15px;
}
/* RESULTS */
.resultContainer {
  text-align: center;
  padding-top: 10px;
}
/* GUESS FORM */
.guessForm {
  text-align: center;
  padding-top: 2vh;
  font-size: 30px;
}

.guessForm #guess {
  font-size: 20px;
}

.guessForm button {
  font-size: 17px;
}

/* RESET FORM */
.resetForm {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

/* HIGHSCORES */
.highscores_deactive {
  display: none;
}

.highscores_active {
  display: block;
}

#highscores {
  display: flex;
  justify-content: center;
}

#highscores caption {
  text-decoration: underline;
}

/* FOOTER */
footer {
  text-align: center;
  padding-top: 2vh;
}
